<div>
  <h4>{{ tax.createdAt }}</h4>
  <div class="row">
    <div class="col-md-3">
      <b>Tax:</b>
    </div>
    <div class="col-md-4">
      <span>{{ tax.taxNumber }}%</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>Tax Revenue:</b>
    </div>
    <div class="col-md-4">
      <span>{{ tax.taxRevenueNumber }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>Updated at:</b>
    </div>
    <div class="col-md-4">
      <span>{{ tax.updatedAt }}</span>
    </div>
  </div>
</div>
